body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

form 
{
   background-color: #FFFFFF;
}

span
{
	display: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-weight: normal;
}

th 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

form 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

input
 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

textarea 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

select 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   visibility: visible;
}

ul 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   list-style-type: square;
   list-style-position: outside; 
}

li 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

ol 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   list-style-type: decimal;
   list-style-position: outside;
}

.small 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9px;
}

.big 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}

.bodystyle 
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

.box1 
{
   padding: 3px;
   border-width: thin; 
   border-style: solid;
   border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 
{
   border-width: 3px;
   border-style: solid;
   padding: 5px;
}

/* Style of the web work portal's footer (footer.jsp) */
.footer 
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   color: #FFFF00;
   background-color: #1B3869
}

a 
{
   text-decoration: none;
}

a:hover 
{
   text-decoration: underline;
}

.link 
{
   color: #CCFFFF;
   text-decoration: none;
}

.link2 
{
   color: #FFFFFF;  
   text-decoration: none;
}

.link:hover
{  
   color: #FFFF00; 
   text-decoration: underline;
}


.tabletitle
{
   background-color: #999999;
}

.tablecell
{
   background-color: #E9E9E9;
}

.tabletitle2
{
   background-color: #E9E9E9;  
}

.tablecell2
{
   background-color: #FFFFFF;
   color: #666666;
}

.tableDetails 
{
	border:1px solid #ccc;  
}

.tableHeader 
{
	background-color: #ECF4FE;
	color: #000;
	text-align: center;
	font-weight: bold;
	font-family: Arial,Verdana,sans-serif;
	font-size: 11px;	
	font-style: normal;
	vertical-align: middle;
	direction: ltr; 
	word-spacing: normal;
	line-height: 13.2px;
}

.tableRow
{
	color: #000;
	text-align: center;
	font-family: Arial,Verdana,sans-serif;
	font-size: 11px;
	font-style: normal;
	vertical-align: middle;
	direction: ltr; 
	word-spacing: normal;
	line-height: 13.2px
}

.tableRowValues
{
	border-top: 1px solid #ccc; 
	border-right: 1px solid #ccc;
}

.selectedRow
{
   background-color: #FEE05A;
   cursor: pointer;
   color: #000;
   text-align: center;
   font-family: Arial,Verdana,sans-serif;
   font-size: 11px;
   font-style: normal;
   vertical-align: middle;
   direction: ltr; 
   word-spacing: normal;
   line-height: 13.2px
}

.normalRow
{
   background-color: #FFFFFF;
   cursor: default;
   color: #000;
   text-align: center;
   font-family: Arial,Verdana,sans-serif;
   font-size: 11px;
   font-style: normal;
   vertical-align: middle;
   direction: ltr; 
   word-spacing: normal;
   line-height: 13.2px
}

/* Style of the web work portal's table cells */
.datosTablaTransDaily {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
   background-color: #FFFFFF;
}

.tbl_border {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-weight: bold;
	color: #000000;
	border: 1px solid #BED6F8;
}
.td_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	background-image: url(../pics/backgroundHeaderTable.JPG);
	background-repeat: repeat-x;
}
.td_data {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #22568F;
}

#btnLstTOC
{
	font-weight: bold;
}


.tablaReportsPrincipal {
   background-color: #DDFFAA;
}
